.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.dropdown-menu .divider,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.carousel-indicators .active
{
    background-color: #0219bf
}

.navbar-inverse .navbar-brand span,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev,
.about h1 span,
.about h3 span,
.features .glyphicon,
.footer h3, .button-up .fas
{
    color: #0219bf
}

.dropdown-menu{
    border-top: 2px solid #0219bf
}

.option-color .list-color,
.carousel-indicators li
{
    border: 2px solid #0219bf;
}

.carousel-caption .h1{
    text-shadow: 2px 1px 0px #0219bf;
}

.form-control:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #0219bf;
}