/* Start Code Media Query */


/* Mobile Screen */
@media (max-width:767px){
    .navbar-inverse .navbar-nav>li>a{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse{
        max-height: none;
    }
    
    .subscribe .form-control{
        margin: 14px auto;
    }
    
    .about h1, .about h3{
        font-size: 25px;
        margin-bottom: 30px;
    }
    
    .progress-skills .progress-text{
        text-align: center
    }
    
    .option-color .list-color{
        width: 215px;
        height: 150px;
    }
    
    .option-color .list-color ul li{
        height: 41px;
        width: 64px;
        float: left;
        margin-bottom: 9px;
        margin-right: 9px;
    }
    
    .option-color .fas{
        padding: 21px;
        font-size: 27px;
        right: -69px;
    }
    
    .carousel-caption .h1{
        font-size: 30px;
        font-weight: 1000;
    }
}


/* Small Screen */
@media (min-width:768px) and (max-width:991px) {
    
    .option-color .list-color{
        width: 215px;
        height: 150px;
    }
    
    .option-color .list-color ul li{
        height: 41px;
        width: 64px;
        float: left;
        margin-bottom: 9px;
        margin-right: 9px;
    }
    
    .option-color .fas{
        padding: 21px;
        font-size: 27px;
        right: -69px;
    }
    
    .carousel-caption .h1{
        font-size: 40px;
        font-weight: 1000;
    }
}


/* Medium Screen */
@media (min-width:992px) and (max-width:1199px) {
    
    
}


/* Larg Screen */
@media (min-width:1200px){
    
    
}


/* End Code Media Query */